*{
  box-sizing: border-box;
}
/* Desktop/Laptop Styles */
@media all and (min-width: 414px) {
  body {
    width: 414px !important;
  }
}
/** Buttton **/
button:disabled {
  opacity: 0.4;
}
.btn {
  text-align: center;
  background-color: #6d6d3d;
  font-weight: 550;
  border-radius: 0.3rem;
  padding: 0.4rem 0.6rem;
  text-align: center;
  background-color: #1d1d1b;
  font-weight: 550;
  border-radius: 0.3rem;
  height: fit-content;
  padding: 0.6rem 0.8rem;
}

.btn__icon--white{
  color: #fff;
}
.btn--default {
  color: #fff;
  background: #1d1d1b;
}
.btn--link {
  display: inline;
  background: none;
  border: none;
  padding: 0 0.4rem;
  margin:  0.2rem;
  color: #1d1d1b;
}
.btn--default .btn__icon {
  margin-left: 0.2rem;
  font-size: 1.2rem;
  color: #fff;
}
.btn--full-width {
  width: 100%;
}
.btn--join {
  border: solid 1px #73e335;
  color: #73e335;
}
.btn--request {
  border: solid 1px #16dbdb;
  color: #16dbdb;
}
.btn--golive {
  border: solid 1px #F73E2D;
  color: #F73E2D;
}
.btn-tip {
  display: block;
  height: 3.4rem;
  cursor: pointer;
  padding: 0.2rem;
}
.btn-tip img {
  height: 100%;
}
.btn--full-width {
  width: 100%;
}
.btn--fake {
  background: #fff;
  border-width: 2px;
  padding: 1rem 2rem;
}
.btn_close {
  float: right;
  box-shadow: none;
  background: transparent;
  border: none;
}
.btn--full {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.btn--large {
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  font-weight: 550;
  font-size: 1.2rem;
}
#button-golive{
  color: #fff;
  background-color: #F73E2D;
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
}
#button-join {
  color: #fff;
  background-color: #73E335;
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
}

/** Atoms **/
.flex{
  display: flex;
}
.flex-right{
  margin-left: auto;
}
.flex-center-y{
  display: flex;
  align-items: center;
}
.flex-center-xy{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-coulumn {
  display: flex;
  flex-direction: column;
}
.flex-stretch{
  width: 100%;
  flex: 1;
}
.justify-center {
  justify-content: center;
}
.text-center {
  text-align: center;
}
.ml-auto {
  margin-left: auto;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.m-2 {
  margin: 0.5rem;
}
.p-4{padding: 1rem;}
.p-2{padding: 0.5rem;}
.p-1{padding: 0.25rem;}
.c-white{
  color: #fff;
}

/** Streamer Video View**/
.streamer__container {
  width: 100%;
  height: 100%;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.streamer__controls {
  padding: 1rem;
  position: absolute;
  z-index: 9999;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.streamer__controls--bottom {
  bottom: 1.2rem;
  align-items: flex-end;
}
.streamer__controls--top {
  top: 1.2rem;
  align-items: flex-start;
}
.streamer__container .vjs-tech {
  object-fit: cover;
  min-height: 100%; /* not good for the aspect ratio set square or landscape or vertical instead*/
}

/** Onsen UI **/
.toolbar__title {
  color: #fff;
  text-align: center;
}
.toolbar-button{
  color: #fff;
}
.back-button, .back-button__icon{
  color: #fff;
  fill:#fff;
}
.toolbar, .bottom-bar{
  background-color: #1d1d1b !important;
}
.toolbar--material{
  height: 4rem;
}
.page--material__background, .page__background {
  background-color: #fff;
}
.poopover{
  z-index: 99999;
}
.dialog {
  top: 46%;
  height: 82%;
  width: 90%;
  border-radius: 1rem;
}
.dialog-container {
  height: 100%;
}
.list .list-item:last-child > div{
  background-image: none;
}
/**How TO **/

.howtoicon{
  margin:0 auto; display:block;max-height:4rem
}

/** OnBoarding **/
.onboarding-page{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}
.onboarding-page .onboarding-page__title{
  text-align: center;
  font-size: 1.4rem;
  padding: 0.8rem 0 0rem;
}
.onboarding-page__list{
  flex: 1;  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.onboarding-page__bottom{
  text-align: center;
  padding: 0.4rem 0 0;
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
}
.onboarding-page .onboarding-page--enter{
  background: #fff;
}
.scroller {
  display: block;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  -ms-scroll-snap-type: mandatory;
}
