*{
  box-sizing: border-box;
}
/** Buttton **/
button:disabled {
  opacity: 0.4;
}
.btn {
  text-align: center;
  background-color: #6d6d3d;
  font-weight: 550;
  border-radius: 1.3rem;
  text-align: center;
  background-color: #1d1d1b;
  font-weight: 550;
  height: fit-content;
  padding: 0.4rem 0.8rem;
  border-color: transparent;
}

.btn__icon--white{
  color: #fff;
}
.btn--square{
  border-radius: 0.4rem;
}
.btn--round{
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn--default {
  color: #fff;
  background: #1d1d1b;
}
.btn--transparent {
  color: #fff;
  background: transparent;
}
.btn--opacity-soft {
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
}
.btn--opacity-dark {
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
}

.btn--link {
  display: inline;
  background: none;
  border: none;
  padding: 0 0.4rem;
  margin:  0.2rem;
  color: #1d1d1b;
}
.btn--default .btn__icon {
  margin-left: 0.2rem;
  font-size: 1.2rem;
  color: #fff;
}
.btn--full-width {
  width: 100%;
}
.btn--join {
  color: #73e335;
}
.btn--request {
  color: #16dbdb;
}
.btn--golive {
  color: #F73E2D;
}
.btn--fake.btn--join {
  border-color:  #73e335;
}
.btn--fake.btn--request {
  border-color:  #16dbdb;
}
.btn--fake.btn--golive {
  border-color:  #F73E2D;
}
.btn-tip {
  display: block;
  height: 3.4rem;
  cursor: pointer;
  padding: 0.2rem;
}
.btn-tip img {
  height: 100%;
}
.btn--full-width {
  width: 100%;
}
.btn--fake {
  background: #fff;
  border-width: 2px;
  border-style: solid;
  padding: 1rem 2rem;
}
.btn_close {
  float: right;
  box-shadow: none;
  background: transparent;
  border: none;
}
.btn--full {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.btn--large {
  border-radius: 1.6rem;
  padding: 0.6rem 1rem;
  font-weight: 550;
  font-size: 1.2rem;
}
.btn--small {
  padding: 0.2rem 0.6rem;
  font-size: 0.925rem;
}
#button-golive{
  color: #fff;
  background-color: #F73E2D;
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
}
#button-join {
  color: #fff;
  background-color: #73E335;
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
}

/** Atoms **/
.flex{
  display: flex;
}
.flex-right{
  margin-left: auto;
}
.flex-center-y{
  display: flex;
  align-items: center;
}
.flex-center-xy{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-stretch{
  width: 100%;
  flex: 1;
}
.justify-center {
  justify-content: center;
}
.text-center {
  text-align: center;
}
.full-width {
  width: 100%;
}
.ml-auto {
  margin-left: auto;
}
.ml-2 {
  margin-left: 0.5rem;
}
.mb-4 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.m-2 {
  margin: 0.5rem;
}
.p-4{padding: 1rem;}
.p-2{padding: 0.5rem;}
.p-1{padding: 0.25rem;}
.c-white{
  color: #fff;
}

/** Streamer Video View**/
.streamer__container {
  width: 100%;
  height: 100%;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.streamer__controls {
  padding: 1rem;
  position: absolute;
  z-index: 9999;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.streamer__controls--bottom {
  bottom: 0;
  align-items: flex-end;
}
.streamer__controls--top {
  top: 0;
  align-items: flex-start;
}
/** Onsen UI **/
.toolbar__title {
  color: #fff;
  text-align: center;
}
.toolbar-button{
  color: #fff;
}
.back-button, .back-button__icon{
  color: #fff;
  fill:#fff;
}
.toolbar, .bottom-bar{
  background-color: #1d1d1b !important;
}
.toolbar--material{
  height: 4rem;
}
.page--material__background, .page__background {
  background-color: #fff;
}
.poopover{
  z-index: 99999;
}
.dialog {
  top: 46%;
  height: 82%;
  width: 90%;
  border-radius: 1rem;
}
.dialog-container {
  height: 100%;
}
.alert-dialog-footer--rowfooter {
  flex-direction: column;
  border-bottom-right-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
}
.alert-dialog-button--rowfooter{
  border-left: none;

}
.alert-dialog-title, .alert-dialog-content{
  text-align: left;
}

.alert-dialog{
  background-color: transparent;
  border-top-right-radius: 0.6rem;
  border-top-left-radius: 0rem;
  background-color:  rgba(255, 255, 255, 0.9);

}
.alert-dialog-button{
  border-top-color: #1f1f21 ;
}
.alert-dialog-button--rowfooter {
  color: #1f1f21;
  text-align: left;
  padding-left: 1rem;
}
.list .list-item:last-child > div{
  background-image: none;
}
/**How TO **/

.howtoicon{
  margin:0 auto; display:block;max-height:4rem
}

/** OnBoarding **/
.onboarding-page{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}
.onboarding-page .onboarding-page__title{
  text-align: center;
  font-size: 1.4rem;
  padding: 0.8rem 0 0rem;
}
.onboarding-page__list{
  flex: 1;  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.onboarding-page__bottom{
  text-align: center;
  padding: 0.4rem 0 0;
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
}
.onboarding-page .onboarding-page--enter{
  background: #fff;
}
.scroller {
  display: block;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  -ms-scroll-snap-type: mandatory;
}
