@import "./variables.scss";

#map
{
  height: 100% !important;
  width: 100% !important;
}
#map-container {
  height: 100%;
  position: relative;
}
#nav_buttons {
  position: absolute;
  width: 100%;
  z-index: 9999;
  bottom: 1.2rem;
  text-align: center !important;
}

#nav_buttons .btn--locate{
  background-color: $dark-grey ;
  color:$white;
  border-radius: 0.3rem;
  margin-bottom: 0.4rem;
  margin-left: auto;
  margin-right: 1rem;
  }
  #nav_buttons .btn--locate:hover{
    background-color: $white ;
    color:$dark-grey ;
    cursor: pointer;
    }

.list-item--chevron:before,
.list-item__expand-chevron {
  border-right: 2px solid $dark-grey;
  border-bottom: 2px solid $dark-grey;
}

.list-item.expanded > .list-item__expandable-content {
  padding-top: 0% !important;
  padding-bottom: 6px !important;
}

#pushToViewStreamPageButton {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

#pushToViewStreamPageButton > .button {
  flex: 1;
  margin: 0 0.2rem;
}

.profilePic {
  width: 5em !important;
  height: 5em !important;
}


.toolbar #search .search-input{
  width: auto;
  background-color: #4a4a48 ;
  color:#bbbbba
}
.leaflet-bar a{
  background-color: $dark-grey ;
  color:$white
}
.leaflet-bar a:hover{
  background-color: $white ;
  color:$dark-grey ;
  cursor: pointer;
}

