.toolbar__title {
  color: #fff;
}

.onsPageTitleStyle {
  background-color: #1d1d1b !important;
  color: #fff !important;
  margin-top: 0.02em;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  padding: 6px 6px 6px 6px;
  border-radius: 5px;
}


#start_publish_button {
  background-color: #1d1d1b !important;
  color: #ebf4f4 !important;
  border-color: #1d1d1b !important;
}

#stop_publish_button {
  background-color: #1d1d1b !important;
  color: #ebf4f4 !important;
  border-color: #1d1d1b !important;
}

