#requestStreamFiltersPage {
  width: 100vw !important;
  display: flex;
}

/* Desktop/Laptop Styles */
@media all and (min-width: 414px) {
  #requestStreamFiltersPage {
    height: 736px !important;
    width: 414px !important;
  }
}

.onsPageTitleStyle {
  background-color: #1d1d1b !important;
  color: #16dbdb !important;
  margin-top: 10px;
  margin-bottom: auto;
  /* padding-top: 0px;
  padding-right: 10px !important;
  padding-bottom: 0px;
  padding-left: 10px !important; */
  /* width: 7em; */
  border-right-width: 1px;
  border-radius: 0 4px 4px 0;
  border: 1px solid #1d1d1b;
  font-size: 0.75em !important;
}

ons-list-header {
  font-size: 0.84em;
  font-weight: 600;
}

textarea {
  width: 85vw;
}

#expandable_section_title {
  font-variant: small-caps;
  font-size: 0.94em;
  font-weight: 590;
}

.textarea--transparent {
  width: 85%;
}
