#viewStreamPage {
  width: 100vw !important;
  display: flex;
}

/* Desktop/Laptop Styles */
@media all and (min-width: 414px) {
  #viewStreamPage {
    height: 736px !important;
    width: 414px !important;
  }
}

#view-video-control-panel {
  display: block;
}

#report-button {
  display: inline;
}

#payingLabel {
  display: inline;
}

#pay-info-section {
  margin-top: 0%;
  margin-right: 1.6%;
  margin-bottom: 0%;
  margin-left: auto;
}

video {
  /* width: 100%;
  height: 100%; */
  /* max-width: 640px; */
  /* max-height: 400px; */
  /* max-width: 100%;
  max-height: 100%; */
  /* height: 568px !important; */
  width: 100% !important;
}

#view-video-panel {
  position: relative;
}

#view-video-panel .container {
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
  width: 100% !important;
  height: 68.7% !important;
}

#view-video-panel .container .jumbotron {
  width: 100%;
  height: 1000%;
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
  border: none;
  background-color: transparent !important;
  width: 100% !important;
  height: 68.7% !important;
}

#payment-ticker {
  /* position: absolute; */
  display: inline;
  /* margin-top: 10px; */
  margin-right: 0%;
  margin-bottom: 0%;
  margin-left: 6%;
  background-color: #1b778c;
}

.toolbar__title {
  color: #16dbdb;
}

.onsPageTitleStyle {
  background-color: #1d1d1b !important;
  color: #16dbdb !important;
  margin-top: 0.02em;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  padding: 6px 6px 6px 6px;
  /* width: 7em; */
  border-radius: 5px;
}

.back-button__icon {
  fill: #1d1d1b !important;
}

#optionsPanel_section_title_viewStream {
  font-variant: small-caps;
  font-size: 0.84em;
  font-weight: 500;
}

#optionsPanel_section_viewStream {
  background-color: #3daec1;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: top;
}

#options_panel_viewStream {
  background-color: #ebf4f4;
}

#options_panel_viewStream {
  font-weight: 500;
}

#options_panel_viewStream span {
  font-size: 0.021em !important;
  font-weight: 400 !important;
  margin-right: 0.5em !important;
}

#remoteVideo {
  display: none;
}

#play_button {
  position: absolute;
  top: 0.053em;
  left: 0.094em;
  display: none;
}

#view_stream_nav_buttons_section {
  text-align: center;
}

#view_stream_nav_buttons_panel {
  display: block;
}

#view_stream_nav_buttons_panel > .button {
  margin-top: 1em;
  margin-right: 0.5em;
  background-color: #1d1d1b;
  color: #16dbdb;
  font-weight: 550;
}

#pauseStreamButton > .ons-icon.fa {
  color: #16dbdb;
}

#playStreamButton > .button {
  margin-top: 1em;
  margin-left: 0.5em;
  background-color: #1d1d1b;
  font-weight: 550;
}

#playStreamButton > .ons-icon.fa {
  color: #16dbdb;
}

#start_publish_button {
  background-color: #1b778c !important;
  color: #ebf4f4 !important;
  border-color: #1b778c !important;
}

#stop_publish_button {
  background-color: #1b778c !important;
  color: #ebf4f4 !important;
  border-color: #1b778c !important;
}

#broadcastingInfo {
  background-color: orange !important;
}
