#walletPage {
  width: 100vw !important;
  display: flex;
}

/* Desktop/Laptop Styles */
@media all and (min-width: 414px) {
  #walletPage {
    height: 736px !important;
    width: 414px !important;
  }
}

ons-list-header {
  font-size: 0.84em;
  font-weight: 600;
}

textarea {
  width: 85vw;
}

#expandable_section_title {
  font-variant: small-caps;
  font-size: 0.94em;
  font-weight: 590;
}

ons-card {
  margin-top: 1em;
}
